@model List<ProductListComponentViewModel>



    <table class="table table-dark table-striped">

    <thead>
        <tr>
          
            <th>İsim</th>
            <th>Açıklama</th>
         
        </tr>

    </thead>
    <tbody>

        @foreach (var item in Model)
        {
                 <tr>

                    
                     <td>@item.Name</td>
                     <td>@item.Description</td>
                    
                 </tr> 
        }
 
    </tbody>


</table>
