@{
    ViewData["Title"] = "ExampleController Index sayfası";
    Layout = "ExampleLayout";

}

@section header
{

    <p>Bu  kodlar header'ın hemen altına eklenecek</p>

}

@section footer
{
 <p>Bu  kodlar footer'ın hemen altına eklenecek</p>
}

<div>Bu sayfa Example Controller > Index sayfası</div>