
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoLayout</title>
</head>
<body>
    Bu sayfa layout sayfalarından beslenmemekteir.
    <partial name="_MenuPartialView"></partial>
</body>
</html>
