 <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - MyAspNetCoreApp.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
